[user]
	email = z@chdenton.com
	name = Zach Denton
[core]
	editor = vim
[init]
	defaultBranch = master
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	tool = vimdiff
	algorithm = histogram
	colorMoved = default
	renames = true
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = zdiff3
[rerere]
	enabled = true
	autoupdate = true
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = false
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[commit]
	verbose = true
[help]
	autocorrect = prompt
[alias]
	d = difftool
