[submodule "vim/.vim/pack/plugins/start/dimburn"]
	path = vim/.vim/pack/plugins/start/dimburn
	url = https://github.com/zacharydenton/dimburn.vim.git
[submodule "vim/.vim/pack/plugins/start/sensible"]
	path = vim/.vim/pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/plugins/start/rhubarb"]
	path = vim/.vim/pack/plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/.vim/pack/plugins/start/fugitive"]
	path = vim/.vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/plugins/start/vim-elixir"]
	path = vim/.vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/.vim/pack/plugins/start/Zenburn"]
	path = vim/.vim/pack/plugins/start/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
